.containerPadre {
  background-color: black;
}
.padre {
  display: flex;
  justify-content: center;
  margin: 10px;
  min-height: 35rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  border: 3px solid #d04bff;
  border-style: groove;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 5px #cf4bff65;
  padding: 2% 8%;
  margin: 5%;
}
.botonR {
  color: #d04bff;
  background-color: black;
  padding: 5px 10px 5px 10px;
  list-style: none;
  display: inline-block;
  margin: 30px 30px;
  border-radius: 8px;
  border: 3px solid #d04bff;
  border-style: groove;
  box-shadow: inset 5px 5px 10px #6c63ff, inset -5px -5px 10px #d04bff;
}

.botonR:hover {
  background-color: #d04bff;
  color: black;
  cursor: pointer;
}
.two {
  display: flex;
  margin: 10px;
  align-items: center;
  background-color: black;
  padding: 30px;
}
.colorh1 {
  color: white;
}

.label {
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
  font-size: 22px;
  font-weight: bolder;
  padding-top: 10px;
}
.colorp {
  color: white;
}
.selectFile {
  background: linear-gradient(90deg, #cf4bffc5 0%, #6c63ff 100%);
  border-radius: 5px;
  color: white;
  width: 270px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin: 15px;
  font-family: inherit;
}
.selectFile:hover {
  background: #16161a;
  border-color: #d04bff;
  color: #d04bff;
}
.jpg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.selectJpg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 30px;
  border: 3px solid #d04bff;
  border-style: dashed;
  border-radius: 10px;
}
.selectJPGMAX {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen {
  width: 500px;

  object-fit: contain;
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-bottom-color: #d04bff;
  background-color: #cf4bff34;
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  font-size: 1rem;
  margin: 15px;
  font-family: inherit;
  color: white;
}
.inputEnviar {
  background: linear-gradient(90deg, #cf4bffc5 0%, #6c63ff 100%);
  border-radius: 5px;
  color: white;
  width: 270px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin: 15px;
  font-family: inherit;
}

.inputEnviar:hover {
  background: #16161a;
  border-color: #d04bff;
  color: #d04bff;
}
.nameEnviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.x {
  margin-top: 10px;
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px;
  padding-right: 6px;
  font-size: 18px;
  text-align: center;
}

.divBI {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botonR {
  color: #d04bff;
  background-color: black;
  padding: 5px 10px 5px 10px;
  list-style: none;
  display: inline-block;
  margin: 30px 30px;
  border-radius: 8px;
  border: 3px solid #d04bff;
  border-style: groove;
  box-shadow: inset 5px 5px 10px #6c63ff, inset -5px -5px 10px #d04bff;
}

.botonR:hover {
  background-color: #d04bff;
  color: black;
  cursor: pointer;
}


@media all and (max-width: 500px) {
.two{
  flex-direction: column;
  margin: 0px;
  padding: 0px;

}

.container{
  padding: 0px;
  margin: 0px;
}

.padre {
  margin: 0px;
  margin-bottom: 6%;
}

}