.containerPadre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 100%;
}

.padre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin: 15px 50px 85px 50px;
  border-radius: 50px;
  box-shadow: 5px 5px 20px 5px #cf4bff65;
  transition: all 400ms ease;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  width: fit-content;
}
.todos {
  display: flex;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.charges {
  margin-top: 40px;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}
.charge {
  text-align: center;
  width: 300px;
  font-weight: bold;
}

.descriptionCharge {
  display: flex;
  flex-direction: column;
}
.des {
  text-align: center;
  font-size: 20px;
}
.name {
  color: #130ab8;
  font-size: 35px;
  margin-bottom: 50px;
}
.priceCF {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.price {
  color: #130ab8;
  margin-left: 20px;
  font-size: 25px;
}

.car {
  font-size: 35px;
  color: #130ab8;
  cursor: pointer;
}

.car:hover {
  color: rgba(0, 0, 0, 0.849);
}

.star {
  font-size: 35px;
  width: 25px;
  margin-left: 70px;
  color: #130ab8;
  cursor: pointer;
  transition: 0.5s;
}

.star:hover {
  color: rgba(233, 233, 29, 0.938);
}

.imagen {
  height: 500px;
  transition: 0.5s;
  margin-right: 50px;
  object-fit: cover;
  box-shadow: 5px 5px 50px 5px #fff;
  border-radius: 10px;
  border: 10px solid #c19a6b;
  border-style: groove;
}

.footer {
  width: 100%;
}
.cargando {
  margin-top: 150px;
  color: #d04bff;
  text-align: center;
}

.load {
  text-align: center;
  color: #d04bff;
  margin-top: 100px;
}

a {
  color: #d04bff;
  text-decoration: none;
}

.botonR {
  color: #d04bff;
  background-color: black;
  padding: 5px 10px 5px 10px;
  list-style: none;
  display: inline-block;
  margin: 30px 30px;
  border-radius: 8px;
  border: 3px solid #d04bff;
  border-style: groove;
  box-shadow: inset 5px 5px 10px #6c63ff, inset -5px -5px 10px #d04bff;
}

.botonR:hover {
  background-color: #d04bff;
  color: black;
  cursor: pointer;
}

.buttonBuy {
  background: black;
  border-radius: 10px;
  border-color: #d04bff;
  color: white;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  margin: 10px;
  font-family: inherit;
  margin-left: 80px;
}

.buttonBuy:hover {
  color: #d04bff;
}

.charge {
  color: black;
}

.abajo {
  display: flex;
  margin-top: 100px;
}

.heart {
  font-size: 23px;
  width: 300px;

  color: #130ab8;
  background-color: #9d57ff;
  border: none;
  cursor: pointer;
  background: none;
}
.heart:hover {
  color: red;
}
.car {
  font-size: 23px;
  margin-left: 0px;
  color: #130ab8;
  background-color: #9d57ff;
  border: none;
  cursor: pointer;
  background: none;
}
.car:hover {
  color: rgba(233, 233, 29, 0.938);
}

.heartFeo {
  font-size: 23px;
  width: 300px;

  background-color: #9d57ff;
  border: none;
  cursor: pointer;
  color: #130ab8;
  opacity: 50%;
  background: none;
}
.addto {
  font-size: 28px;
}

@media all and (max-width: 500px) {
  .imagen {
    height: 200px;
    margin-right: 0px;
  }
  .description {
    width: 100px;
  }
  .abajo {
    margin-top: 20px;
  }
  .addto {
    display: none;
  }
  .name {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    width: 200px;
  }
  .des {
    font-size: 11px;
  }
  .padre {
    padding: 30px;
    margin: 10px 20px 50px 20px;
  }
  .todos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
