.tt {
  color: black;
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 30px;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  padding: 10px;
  border-radius: 10px;
}
.botonR {
  color: #d04bff;
  background-color: black;
  padding: 5px 10px 5px 10px;
  list-style: none;
  display: inline-block;
  margin: 30px 30px;
  border-radius: 8px;
  border: 3px solid #d04bff;
  border-style: groove;
  box-shadow: inset 5px 5px 10px #6c63ff, inset -5px -5px 10px #d04bff;
}

.botonR:hover {
  background-color: #d04bff;
  color: black;
  cursor: pointer;
}
.allInclusive {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 101px;
  padding-right: 101px;
}

.gallery {
  columns: 5 320px;
  column-gap: 0.5em;
}
.card {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 0.5em;
}
.img {
  width: 320px;
  object-fit: contain;
  border-radius: 20px;
  display: block;
  outline: 2px solid violet;
}

.img:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  padding: 10px;
  margin: 0;
  transform: translate(-50%, -50%);
  color: white;
}

.botoncito {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 1;
  padding: 10px;
  margin: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.input {
  position: absolute;
  top: 90%;
  left: 40%;
  z-index: 1;
  padding: 10px;
  margin: 0;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  color: white;
}
.inputt {
  position: absolute;
  top: 90%;
  left: 80%;
  z-index: 1;
  padding: 10px;
  margin: 0;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.inputt:hover {
  color: black;
  background-color: white;
}
/* .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
} */

.ventanitaModal {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
