.container{
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 2% 24% 0 24%;
    justify-content: center;
}


.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    margin-top: 1%;
}

.list{
    color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1%;
    font-size: 25px;
}