.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 340px;
  margin: 1% 1%;
}

.card {
  width: 100%;
  max-height: 426px;
  min-height: 426px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 400ms ease;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  box-shadow: 0 0 4px 4px #cf4bff8f;
}

.name {
  text-align: center;
  color: #130ab8;
}

.price {
  color: #130ab8;
  /* margin-left: 20px; */
  font-size: 13px;
}
.abajo {
  display: flex;
  padding-bottom: 8px;
}
.car {
  font-size: 23px;
  margin-left: 0px;
  color: #130ab8;
  background-color: #6c63ff;
  border: none;
  cursor: pointer;
  background: none;
}
.car:hover {
  color: rgba(233, 233, 29, 0.938);
}

.heart {
  font-size: 23px;
  width: 25px;
  margin-left: 70px;
  color: #130ab8;
  background-color: #6c63ff;
  border: none;
  cursor: pointer;
  background: none;
}
.heart:hover {
  color: red;
}
.card img {
  width: 100%;
}

.link {
  text-decoration: none;
}

.containerImagen {
  max-height: 340px;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 30px; */
}

.containertext {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 80%;
  /* padding: 0 1%; */
}
.imagenRec {
  max-height: 370px;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
  object-fit: cover;
}
.imagenRec:hover {
  transform: scale(1.2);
  border-radius: 106px 106px 0 0;
}

.heartFeo {
  font-size: 23px;
  width: 25px;
  margin-left: 70px;
  border: none;
  cursor: pointer;
  color: #130ab8;
  opacity: 50%;
  background: none;
}
