.titulo {
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #d04bff;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  box-shadow: 5px 5px 20px 5px #cf4bff65;
}

.nft {
  display: flex;
  justify-content: space-evenly;
  width: 900px;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
  border-bottom: 3px solid #d04bff;
  padding: 10px;
  align-items: center;
  font-weight: bold;
}
.nftA {
  display: flex;
  justify-content: space-evenly;
  width: 900px;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
  border-bottom: 3px solid #d04bff;
  font-weight: bolder;
}

.img {
  height: 100px;
  width: 25%;
  object-fit: contain;
  margin-right: 20px;
}

.imgA {
  width: 25%;
  margin-right: 10px;
  text-align: center;
}
.name {
  width: 35%;
  text-align: center;
}
.nameA {
  width: 35%;
  text-align: center;
}
.price {
  width: 10%;
}
.priceA {
  width: 10%;
}

.boton {
  width: 3%;
  height: 23px;
  color: red;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;

  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
.boton:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
.boton:active {
  position: relative;
  top: 1px;
}
.botonA {
  width: 5%;
}

.botonAbajo {
  border-radius: 10px;
  font-weight: bolder;
  background: linear-gradient(90deg, #cf4bffc5 0%, #6c63ff 100%);
  padding: 10px;
  width: 200px;
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 20px 5px #cf4bff65;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: x-large;
  letter-spacing: 1px;
}

.botonAbajo:hover {
  transform: scale(1.1);
  letter-spacing: 1.5px;
}
.total {
  display: flex;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}

.totalobich {
  margin-right: 580px;
  padding: 40px;
}
.cero {
  padding: 40px;
}

.botonR {
  color: #d04bff;
  background-color: black;
  padding: 5px 10px 5px 10px;
  list-style: none;
  display: inline-block;
  margin: 30px 30px;
  border-radius: 8px;
  border: 3px solid #d04bff;
  border-style: groove;
  box-shadow: inset 5px 5px 10px #6c63ff, inset -5px -5px 10px #d04bff;
}

.botonR:hover {
  background-color: #d04bff;
  color: black;
  cursor: pointer;
}

.viewe {
  padding: 150px;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
  font-size: 20px;
  font-weight: bolder;
}

.buttonBuy {
  background: black;
  border-radius: 10px;
  border-color: #d04bff;
  color: white;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  margin: 10px;
  font-family: inherit;
  margin-left: 80px;
}

.buttonBuy:hover {
  color: #d04bff;
}

.charges {
  margin-top: 40px;
  display: flex;
  border: 1px solid black;
  background: linear-gradient(90deg, #cf4bffc5 0%, #6c63ff 100%);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}
.charge {
  text-align: center;
  width: 300px;
  font-weight: bold;
  color: black;
}

@media all and (max-width: 500px) {
  .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    padding: 10px 5px;
    margin: 1% 0 5% 0;
    width: fit-content;
  }

  .img {
    height: 50px;
    margin-right: 0px;
  }

  .imgA {
    margin-right: 0px;
  }

  .nftA {
    width: 300px;
    margin: 0%;
    font-weight: bolder;
    font-size: 0.8rem;
  }

  .nft {
    width: 300px;
    margin: 0%;
    font-weight: bolder;
    padding: 10px 0;
  }

  .boton {
    width: 5.7%;
    height: 18px;
    margin-right: 0px;
    font-size: 15px;
  }

  .totalobich {
    margin-right: 0px;
    padding: 20px;
  }

  .cero {
    padding: 20px;
  }

  .botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .botonAbajo {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5%;
  }

  .charges {
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .buttonBuy {
    margin: 0px;
    margin-left: 0px;
  }
}