.general {
  min-height: 40rem;
}

.botonR {
  color: #d04bff;
  background-color: black;
  padding: 5px 10px 5px 10px;
  list-style: none;
  display: inline-block;
  margin: 30px 30px;
  border-radius: 8px;
  border: 3px solid #d04bff;
  border-style: groove;
  box-shadow: inset 5px 5px 10px #6c63ff, inset -5px -5px 10px #d04bff;
  font-family: inherit;
}

.botonR:hover {
  background-color: #d04bff;
  color: black;
  cursor: pointer;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: yellow;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.nft {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 20px;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
  border-bottom: 3px solid #d04bff;
  padding: 10px;
  align-items: center;
  width: 1200px;
  font-weight: bold;
}
.nftA {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 20px;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
  border-bottom: 3px solid #d04bff;
  font-weight: bolder;
}

.img {
  height: 100px;
  width: 25%;
  object-fit: contain;
  margin-right: 10px;
}

.imgA {
  width: 25%;
  margin-right: 10px;
  text-align: center;
}
.name {
  width: 35%;
  text-align: center;
}
.nameA {
  width: 35%;
  text-align: center;
}
.price {
  width: 8%;
}
.priceA {
  width: 10%;
}

.boton {
  width: 3%;
  height: 23px;
  color: red;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;

  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
.boton:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
.boton:active {
  position: relative;
  top: 1px;
}
.botonA {
  width: 5%;
}

.botonAbajo {
  border-radius: 10px;
  font-weight: bolder;
  background: linear-gradient(90deg, #cf4bffc5 0%, #6c63ff 100%);
  padding: 10px;
  width: 200px;
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 20px 5px #cf4bff65;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: x-large;
  letter-spacing: 1px;
}

.botonAbajo:hover {
  transform: scale(1.1);
  letter-spacing: 1.5px;
}

.noFav {
  font-size: larger;
  color: #d04bff;
  margin-top: 8%;
}

@media all and (max-width: 500px) {
  .nftA {
    width: 365px;
    margin: 0px;
  }
  .nft {
    width: 350px;
    margin: 0px;
  }
  .name {
    font-size: 10px;
  }
  .nameA {
    font-size: 13px;
  }
  .price {
    font-size: 10px;
  }
  .priceA {
    font-size: 13px;
  }
  .img {
    height: 50px;
    margin-right: 0px;
  }

  .imgA {
    font-size: 13px;
    margin-right: 0px;
  }
  .boton {
    height: 15px;
    margin-right: 20px;
    font-size: 12px;
    width: 20px;
    text-align: center;
  }
  .botonA {
    margin-right: 30px;
    font-size: 12px;
  }
  .titulo {
    font-size: 20px;
  }
}
