.nameC {
  background: -webkit-linear-gradient(white, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 50%;
  margin-top: 10px;
  margin-left: 5px;
}
.veri {
  font-size: 20px;
  height: 50px;
  margin-top: 12px;
  margin-left: 5px;
  color: rgb(29, 203, 209);
}

.imageC {
  /* margin-left: 31%; */
  border-radius: 10px;
  width: 75px;
  height: 75px;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 0px;
  transition: 0.5s;
}
.imageC:hover {
  transform: scale(1.2);
}
.divIm {
  border: 5px solid rgb(68, 68, 68);
  margin-left: 20px;
  margin-top: -10px;
  border-radius: 10px;
  padding: 0;
}
.containerC {
  width: 80px;
  height: 200px;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
  border: 1px solid white;
}
.flex {
  display: flex;
  margin-top: 20px;
}
.tres {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d04bff;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url("https://lh3.googleusercontent.com/7557EBG5rq1UclLDEj4ZVIkGO3UuwybHFVaC_BY7reBRF2xwR5549rMy5yIMnYcpjprk9oorIUojnoTnEflMjwoCN9-Da6tIKmDBAA=h400");
  background-size: cover;
}
.cuatro {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d04bff;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url("https://lh3.googleusercontent.com/tO0vZIau83YXPXEvymRFNaqGetB7IKYFb8BNTaoSKhk_I0Z5cFh3d4CHvxifh57AYRnZ-JQTPBCe0mT2nOAVteHqSMLRRzBXwXELWJo=h400");
  background-size: cover;
}
.cinco {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d04bff;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url("https://lh3.googleusercontent.com/LAm4YHev1UxKMLenuEg_3vL_B_MUVbivUGPEEKNhozlIxU-5QyRAtoUskq7JmglZGiI0RS5o0lc_a9gK9frdogrjURWLQEoRNsyVrw=h400");
  background-size: cover;
}
.seis {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d04bff;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url("https://openseauserdata.com/files/1db7dbac563ca578d68d5d79fbd11412.svg");
  background-size: cover;
}
.siete {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d04bff;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url("https://lh3.googleusercontent.com/cDOUgcfixw1lRl3pB_r9Er9eZL3zZxfzKuYkAnhuElAF4_xpxbQQ6XmWhGdVFHEASq_2BxHBYPRnPuAy76KhZwTaHGfrryS-GZFJ7w=h400");
  background-size: cover;
}
.ocho {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d04bff;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url("https://lh3.googleusercontent.com/IRKmFBtoKfjejTrfm5zj20ztCpR1oIO5GNrhak78C2fLLdkBHi1SOOe83ciouTVuMfONykdelm0ugtVy67FnKVEBbN2nF5n2Ys2_kw=h400");
  background-size: cover;
}
.nueve {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d04bff;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url("https://lh3.googleusercontent.com/7MUvPiCmaNoNk5ZhBqhi38kQHijZXjzE0uCEfuXEq9oh-fHYMoFyapQzyzYsUKp2jVx0E-Z-aPzp1llVErr4UlICdeTI_rqnDhUUyQ=h400");
  background-size: 100%;
}
.diez {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d04bff;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url("https://lh3.googleusercontent.com/-et0utNvBsLtiXTsMW4knX2iWLuv1QlD02cKl5lsu1qu1p0w5OJIGq_I62cpVDl9rc6tFS3d7A17cyuXii6m8zDbK8L32ArVEc8mlw=h400");
  background-size: cover;
}
.once {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d04bff;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url("https://lh3.googleusercontent.com/t2Nf6hhfDRGskrMJxBGtWkKOfYElohP488p09jcC4JdoBbGFSRrPiGQs3YtBBle91OyHQOLQ_lP3Ecy1sbuo24uplCukLC-Q8TkQWg=h400");
  background-size: cover;
}
.container23 {
  margin-top: 75%;
  width: 100%;
  display: flex;
  background-color: rgb(68, 68, 68);
}
.hola {
  display: flex;
  height: 500px;
}
.carousel {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .modal{
      position: fixed,
      z-index: 999,
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
      background-color: black
    } */
