.padre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tt {
  color: white;
  text-align: center;
  font-size: 35px;
  margin-bottom: 3%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 325px;
}

.frase {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}
.landing {
  text-decoration: underline;
  padding-left: 2px;
}
.botonR {
  color: #d04bff;
  background-color: black;
  padding: 5px 10px 5px 10px;
  list-style: none;
  display: inline-block;
  margin: 30px 30px;
  border-radius: 8px;
  border: 3px solid #d04bff;
  border-style: groove;
  box-shadow: inset 5px 5px 10px #6c63ff, inset -5px -5px 10px #d04bff;
}

.botonR:hover {
  background-color: #d04bff;
  color: black;
  cursor: pointer;
}

@media all and (max-width: 500px) {
  .tt {
    font-size: 2rem;
  }
  .frase {
    flex-direction: column;
    margin-top: 5%;
  }
  .fraso{
    display: flex;
    width: 60%;
    text-align: center;
  }
}