
.adminContainer{
    align-items: center;
    justify-content: center;
}


.arriba{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #d04bff;
}

.iconAdmin{
    font-size: 2.5rem;
    margin: 3% 1%; 
}

.iconAdmin1, .iconAdmin2, .iconAdmin3, .iconAdmin4{
    font-size: 2.5rem;
    padding-bottom: 2%;
    color: white;
}

.featuresCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

.featuresBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    background: -webkit-linear-gradient(#d04bff, #6c63ff);
    border: 2px solid #d04bff;
    border-radius: 20px;
    width: 24rem;
    height: 10rem;
    transition: .3s;
    z-index: 3;
    margin: 3%;
}

.featuresBox:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.titleAdmin{
    color: white;
    font-size: 2rem;
}

.titleAdmin:hover {
    letter-spacing: 2px;
}

@media all and (max-width: 500px) {
    .featuresBox{
        width: 22rem;
        height: 8rem;
    }
    .featuresCont {
        padding: 6%;
        margin-bottom: 15%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .arriba{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .container1{
        margin: 30% 0;
    }
}