.switchbutton {
  margin-top: 20px;
}
.botonLanding {
  border-radius: 10px;
  font-weight: bolder;
  background: linear-gradient(90deg, #cf4bffc5 0%, #6c63ff 100%);
  padding: 10px;
  width: 10rem;
  cursor: pointer;
  box-shadow: 5px 5px 20px 5px #cf4bff65;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: x-large;
  letter-spacing: 1px;
  margin: 10px;
}

.botonLanding:hover {
  transform: scale(1.1);
  letter-spacing: 1.5px;
}
.texto {
  text-align: center;
}
.padre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
